# Node
node_modules/
npm-debug.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python
__pycache__/
*.py[cod]
venv/
.env

# Build
dist/
build/

# Misc
.sass-cache/
*.local
coverage/

# Logs
logs/
*.log

# Temporary
*.tmp
*.temp
